.main-page {
  width: 1000px;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: rgb(223, 220, 220);
}
.container-1 {
  background-image: linear-gradient(rgb(120, 87, 255), rgba(46, 43, 233));
  border-radius: 20px;
  padding: 30px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Hanken Grotesk";
  width: 300px;
  z-index: 100;
  margin-right: -30px;
  box-shadow: 0px 2px 2px black;
}

.result {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  color: hsl(241, 100%, 89%);
  margin-bottom: 30px;
}
.second-line {
  height: 250px;
  width: 250px;
  border-radius: 150px;
  text-align: center;
  background-image: linear-gradient(
    rgba(78, 33, 202, 1),
    rgba(36, 33, 202, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 45px;
  margin-bottom: 8px;
  
}
.score {
  font-size: 70px;
  font-weight: 800;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}
.total {
  margin-top: 0;
  color: hsl(241, 100%, 89%);
}
.great {
  color: white;
  font-size: 36px;  
  font-weight: 700;
  margin-bottom: -10px;
}
.text {
  text-align: center;
  width: 275px;
  font-size: 20px;
  color: hsl(241, 100%, 89%);
  font-weight: 500;
}
.container-2 {
  width: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 2px black;
}
.summary {
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 60px;
}
.line-1 {
  height: 40px;
  background-color: hsla(0, 100%, 67%, 0.08);
  color: rgb(255, 31, 31);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 60px;
  align-items: center;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
  width: 300px;
}
.icon {
  margin-right: 10px;
  align-items: center;
}
.line-2 {
  height: 40px;
  background-color: hsla(39, 100%, 56%, 0.08);
  color: hsl(39, 100%, 56%);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 60px;
  align-items: center;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
  width: 300px;
}
.line-3 {
  height: 40px;
  background-color: hsla(166, 100%, 37%, 0.08);
  color: hsl(166, 100%, 37%);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 60px;
  align-items: center;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
  width: 300px;
}
.line-4 {
  height: 40px;
  background-color: hsla(234, 85%, 45%, 0.08);
  color: hsl(234, 85%, 45%);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-left: 60px;
  align-items: center;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
  width: 300px;
}
.continue-button {
  background-color: hsl(224, 30%, 27%);
  width: 350px;
  margin-left: 40px;
  padding: 14px 16px 14px 16px;
  border: none;
  border-radius: 20px;
  font-weight: 800;
  color: white;
  font-family: "Hanken Grotesk";
  font-size: 16px;
}

.title {
  display: inline-block;
}
.final-score {
  color: black;
  margin-left: 100px;
}
.final-scoree {
  margin-left: 118px;
  color: black;
}
.final-score-2 {
  color: grey;
  margin-right: 20px;
}